{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
      <div class="alert-error">Error: {{ message }}</div>
    {% endfor %}
    <h1>{% block title %} Добро пожаловать на вашу первую практику! {% endblock %}</h1>
    <p>В этом блоке мы научимся с Вами тестировать пользовательский интерфейс. </p>
    <p>Немного информации: </p>
    <p>Представим себе, что программисты нам отдали в тестирование всего две страницы. Страницу создания
        "Статьи расходов" <br>
     и страницу создания "Источника финансирования". Теперь нам необходимо это протестировать, имея входящую информацию о этих сущностях.</p>
    <p>Перейди на страницу с ТЗ. Ссылка на неё находится в боковом меню слева!!</p>
    <p>Ну и не забывай: в этом приложении много багов! И так как мы тестим пользовательский интерфейс, то заводи баги на всё, что видишь!</p>

{% endblock %}