{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Добро пожаловать на вашу первую практику! {% endblock %}</h1>
    <p>В этом блоке мы научимся с Вами тестировать пользовательский интерфейс. </p>
    <p>Немного информации: </p>
    <p>Представим себе, что программисты нам отдали в тестирование всего две страницы. Страницу создания
        "Статьи расходов" <br>
     и страницу создания "Источника финансирования". Теперь нам необходимо это протестировать, имея входящую информацию о этих сущностях.</p>
    <p>Требования: </p>
    <p>ТР-1 У пользователя из интерфейса должна быть возможность перейти на страницу создания "Статьи расходов"</p>
    <p>ТР-2 Пользователь должен заполнить следующие обязательные поля:</p>
    <p>ТР-2-1 </p>
{% endblock %}