{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Добро пожаловать на вашу первую практику! {% endblock %}</h1>
    <p>В этом блоке мы научимся с Вами тестировать пользовательский интерфейс. </p>
    <p>Немного информации: </p>
    <p>Представим себе, что программисты нам отдали в тестирование всего две страницы. Страницу создания
        "Статьи расходов" <br>
     и страницу создания "Источника финансирования". Теперь нам необходимо это протестировать, имея входящую информацию о этих сущностях.</p>
    <p>Требования: </p>
    <p>R-1 У пользователя из интерфейса должна быть возможность перейти на страницу создания "Статьи расходов"</p>
    <p>R-2 Пользователь должен заполнить следующие обязательные поля:</p>
    <p>R-2-1 Title</p>
    <p>R-2-2 Tender classification</p>
    <p>R-2-3 Planning period start date</p>
    <p>R-2-4 Planning period end date</p>
    <p>R-2-5 Buyers name</p>
    <p>R-2-6 Buyers identifier</p>
    <p>R-2-7 Buyers scheme</p>
    <p>R-2-8 Buyers Legal name</p>
    <p>R-2-9 Buyers Street address</p>
    <p>R-2-10 Buyers Postal code</p>
    <p>R-2-10 Buyers country</p>
    <p>R-2-10 Buyers region</p>
    <p>R-2-10 Buyers locality</p>
{% endblock %}